/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

//============Шрифты==============//

@import url("https://fonts.googleapis.com/css?family=Inter:700");

@font-face {
	font-family: "Gilroy";
	src: local("Gilroy Medium"), local("Gilroy-Medium"), url("Gilroy-Medium.woff2") format("woff2"),
		url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("../fonts/Gilroy-Semibold.woff2") format("woff2"),
		url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

//============BODY=================//

body {
	font-family: "Gilroy", "Inter";
}

body._lock {
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

[class*="__container"] {
	max-width: 1600px;
	padding: 0 15px;
	margin: 0 auto;
}

[class*="__sub-container"] {
	max-width: 1310px;
	/* padding: 0 15px; */
	margin: 0 auto;
}

//===========HEADER================//

.header {
	
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	// .header__body

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 66.5px 0;
	}

	// .header__logo

	&__logo {
		margin-right: 10px;

		svg {
			width: 100%;
		}
	}

	// .header__list

	&__list {
		display: flex;
	}

	// .header__item

	&__item {
		&:not(:last-child) {
			margin: 0 30px 0 0;
		}
	}

	// .header__link

	&__link {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 150%;
		color: #3d3d50;
	}

	&__button {
		display: none;
	}

	// .header__menu-icon /*---меню-бургер---*/
	&__menu-icon {
		display: none;
	}

	@media (max-width: 1070px) {
		.header {
			&__menu-icon {
				display: block;
				z-index: 100;
				position: relative;
				top: 0;
				left: 0;
				width: 30px;
				height: 25px;
				cursor: pointer;
			}

			&__menu-icon span,
			&__menu-icon::before,
			&__menu-icon::after {
				left: 0;
				position: absolute;
				height: 10%;
				width: 100%;
				transition: all 0.3s ease 0s;
				border: 2px solid #3d3d50;
				background: #3d3d50;
				border-radius: 10px;
			}

			&__menu-icon::before,
			&__menu-icon::after {
				content: "";
			}

			&__menu-icon::before {
				top: 0;
			}

			&__menu-icon::after {
				width: 100%;
				bottom: 0;
			}

			&__menu-icon span {
				top: 50%;
				width: 100%;
				transform: scale(1) translate(0px, -50%);
			}

			&__menu-icon._active span {
				transform: scale(0) translate(0px, -50%);
			}

			&__menu-icon._active::before {
				top: 45%;
				transform: rotate(-45deg) translate(0px, -50%);
			}

			&__menu-icon._active::after {
				width: 100%;
				bottom: 50%;
				transform: rotate(45deg) translate(0px, 50%);
			}

			&__list {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				position: fixed;
				z-index: 90;
				width: 100%;
				background: #ffffff;
				border-radius: 10px;
				padding: 25px;
				top: 0;
				right: -100%;
				transition: all 0.3s ease-in-out;
				&._active {
					right: 0%;
				}
			}
		}

		&__item {
			&:not(:last-child) {
				margin: 0 0 30px 0;
			}
		}

		&__link {
			font-size: 30px;
		}

		&__menu {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__button {
			display: block;
			margin-right: 30px;
		}

		&__btn {
			font-family: "Gilroy";
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 120%;
			color: #3d3d50;
			padding: 10px 20px;
			border: 1px solid rgba(61, 61, 80, 0.4);
			border-radius: 50px;
		}
	}
}

//=============PAGE==============//

.page {
	flex: 1 1 auto;

	&__main-block {
		position: relative;
		z-index: -1;
	}
}

//==============MAIN-BLOCK================//

.main-block {
	&__container-background {
		background: #d2eaf0;
		border-radius: 20px;
		position: relative;
		overflow: hidden;
		margin-bottom: 200px;
		&::before {
			content: "";
			display: block;
			position: absolute;
			top: -36%;
			left: 73%;
			width: 780px;
			height: 780px;
			background: #3d3d50;
			border-radius: 50%;
		}
	}

	&__body {
		display: grid;
		grid-template-columns: repeat(2, minmax(auto, 900px));
		padding: 120px 0;
	}

	&__column {
	}

	&__title {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 600;
		font-size: 80px;
		line-height: 120%;
		color: #3d3d50;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	&__link {
		display: inline-block;
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 150%;
		color: #3d3d50;
		margin-top: 66px;
		padding: 20px 40px;
		border-radius: 50px;
		background-color: #ffffff;
	}

	&__image {
		position: relative;
		img {
			position: absolute;
			max-width: 100%;
			max-width: 720px;
			height: 100%;
			top: 0;
			left: -50%;
			object-fit: cover;
			border-radius: 0 50px 0 0;
		}
	}
}

@media (max-width: 1439px) {
	.main-block {
		&__body {
			display: grid;
			grid-template-columns: repeat(2, minmax(auto, 1fr));
		}
		&__column {
			grid-row: 1 / 2;
			grid-column: 1 / span 2;
		}
		&__title {
			font-size: calc(30px + (80 - 30) * ((100vw - 320px) / (1440 - 320)));
		}
		&__image {
			position: relative;
			grid-column: 2 / 2;
			grid-row: 1 / span 2;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0%;
				object-fit: contain;
			}
		}
	}
}

@media (max-width: 768px) {
	.main-block {
		&__body {
			padding: 30px 0;
		}
		&__container-background {
			background: #d2eaf0;
			border-radius: 20px;
			position: relative;
			overflow: hidden;
			margin-bottom: 80px;
			&::before {
				content: "";
				display: block;
				position: absolute;
				top: -36%;
				left: 71%;
				width: 431px;
				height: 431px;
				background: #3d3d50;
				border-radius: 50%;
			}
		}
	}
}

@media (max-width: 767px) {
	.main-block {
		&__body {
			display: grid;
			grid-template-columns: minmax(auto, 1fr);
			grid-template-rows: repeat(2, minmax(auto, 1fr));
			row-gap: 20px;
		}
		&__container-background {
			background: #d2eaf0;
			border-radius: 20px;
			position: relative;
			overflow: hidden;
			margin-bottom: 80px;
			&::before {
				content: "";
				display: block;
				position: absolute;
				top: -26%;
				left: 47%;
				width: 431px;
				height: 431px;
				background: #3d3d50;
				border-radius: 50%;
			}
		}
		&__column {
			grid-row: 2 / 2;
			grid-column: 1 / span 2;
		}
		&__image {
			position: relative;
			grid-row: 1 / 2;
			grid-column: 1 / span 2;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0%;
				object-fit: contain;
			}
		}
	}
}

@media (max-width: 375px) {
	.main-block {
		&__body {
			row-gap: 0;
		}
		&__container {
			padding: 0;
		}
		&__container-background {
			border-radius: 0;
		}
	}
}

//=============SECOND-BLOCK================//

.second-block {
	&__title {
		text-align: center;
	}

	&__image {
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 100%;
			height: 100%;
		}
	}

	&__body-flex {
		display: flex;
		justify-content: center;
		align-items: start;
		max-width: 1280px;
		margin: -100px auto 200px;
	}

	&__column {
		flex: 0 1 33.333%;
		background: #ffffff;
		box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.05);
		border-radius: 20px;

		&:not(:last-child) {
			margin-right: 30px;
		}

		&:nth-child(2) {
			margin-top: 162px;
		}
	}

	&__item {
		padding: 50px;
	}

	&__title-h4 {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 600;
		font-size: 30px;
		line-height: 140%;
		color: #17172f;
	}

	&__text {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;
		color: #6f6f82;
		margin-top: 20px;
	}
}

.title-h2 {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 600;
	font-size: 100px;
	line-height: 110%;
	color: #3d3d50;
}
@media (max-width: 1439px) {
	.title-h2 {
		font-size: calc(35px + (100 - 35) * ((100vw - 320px) / (1440 - 320)));
	}
}

@media (max-width: 1024px) {
	.second-block {
		&__body-flex {
			margin: -100px auto 80px;
		}
		&__item {
			padding: 30px;
		}
	}
}
.swiper {
	display: none;
}
@media (max-width: 767px) {
	.second-block__body-flex {
		display: none;
	}
	.swiper {
		display: block;
	}
	.second-block__pagination .swiper-pagination-bullet {
		background: #3d3d50;
		margin-right: 20px !important;
	}
	.second-block {
		&__swiper {
			margin-bottom: 60px;
		}
		&__slide {
			padding: 30px 0;
		}
		&__column {
			flex: 1 1 100%;
			&:nth-child(2) {
				margin-top: 0;
			}
			&:not(:last-child) {
				margin: 0;
			}
		}
	}
}

//========THIRD-BLOCK=============//

.page {
	&__third-block {
	}
}

.third-block {
	&__container {
	}

	&__sub-container {
		position: relative;
	}

	&__title {
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}

	&__image {
		position: relative;
		width: 550px;
		min-height: 550px;

		img {
			position: absolute;
			max-width: 100%;
			height: 100%;
			top: 0%;
			left: 0%;
			object-fit: cover;
		}
	}

	&__title-h4 {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 600;
		font-size: 30px;
		line-height: 140%;
		color: #3d3d50;

		&_white {
			color: #ffffff;
		}
	}

	&__body-flex {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: -80px;
		margin-bottom: 80px;
	}

	&__column {
		flex: 0 1 33.333%;
		border-radius: 20px;

		&:not(:last-child) {
			margin-right: 30px;
		}

		&:nth-child(1) {
			background: #f7f7f8;
		}

		&:nth-child(2) {
			background: #3973af;
		}

		&:nth-child(3) {
			background: #eee0da;
		}
	}

	&__card {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 50px;
	}

	&__card-top {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__icons {
	}

	&__sub-title {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 150%;
		margin-bottom: 50px;

		&_apricot {
			color: #ee786b;
		}

		&_white {
			color: #ffffff;
		}

		&_blue {
			color: #3973af;
		}
	}

	&__item {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 500;
		font-size: 17px;
		line-height: 150%;
		color: #3d3d50;
		position: relative;
		margin-left: 10px;
		&_white {
			color: #ffffff;
		}

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		&::before {
			content: "";
			display: inline-block;
			text-align: center;
			position: absolute;
			top: 5px;
			left: -25px;
			width: 14px;
			height: 14px;
			background: #89cbdb;
			transform: matrix(1, 0, -0.21, 0.98, 0, 0);
		}

		&_apricot::before {
			content: "";
			display: inline-block;
			text-align: center;
			position: absolute;
			top: 5px;
			left: -25px;
			width: 14px;
			height: 14px;
			background: #ee786b;
			transform: matrix(1, 0, -0.21, 0.98, 0, 0);
		}
	}

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 200px;
	}

	&__btn {
		display: inline-block;
		padding: 20px 40px;
		background: #3d3d50;
		border-radius: 50px;
		gap: 10px;
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 150%;
		color: #ffffff;
	}
}

@media (max-width: 1024px) {
	.third-block {
		&__body-flex {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, auto);
			justify-content: stretch;
			margin: -40px 0 80px 0;
			row-gap: 20px;
		}
		&__column {
			&:not(:last-child) {
				margin: 0 0 0px 0;
			}
			&:nth-child(1) {
				grid-row: 3 / 3;
			}
		}
		&__card {
			justify-content: space-evenly;
			flex-direction: row;
			padding: 20px 30px;
		}
		&__card-top {
			display: flex;
			justify-content: start;
			flex-direction: column;
		}
		&__image {
			position: relative;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0%;
				left: 0%;
				object-fit: contain;
			}
		}
	}
}

@media (max-width: 767px) {
	.third-block {
		&__header {
			flex-direction: column;
		}
		&__body-flex {
			margin: 0 0 80px 0;
		}
		&__card {
			flex-direction: column;
			align-items: center;
		}
		&__card-top {
			margin: 0;
		}
		&__button {
			margin-bottom: 80px;
		}
	}
}

.swiper {
}

//============FOURTH-BLOCK===========//

.page {
	&__fourth-block {
	}
}

.fourth-block {
	&__container {
	}

	&__sub-container {
	}

	&__body {
	}

	&__title {
		text-align: center;
	}

	&__body-flex {
		display: flex;
		align-items: center;
		margin: 100px 0 200px 0;
	}

	&__column {
		flex: 1 1 25%;
		background: #f7f7f8;
		border-radius: 20px;
		min-height: 326px;
		&:not(:last-child) {
			margin-right: 30px;
		}
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: start;
		flex-direction: column;
		padding: 40px 0 0 40px;
	}

	&__logo {
		display: flex;
		justify-content: start;
	}

	&__title-h4 {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 600;
		font-size: 30px;
		line-height: 140%;
		color: #3d3d50;
		margin: 20px 0 10px 0;
	}

	&__text {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 500;
		font-size: 17px;
		line-height: 150%;
		color: #6f6f82;
	}
}

@media (max-width: 1023px) {
	.fourth-block {
		&__body-flex {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			gap: 20px;
		}
		&__column {
			&:not(:last-child) {
				margin: 0;
			}
		}
	}
}
@media (max-width: 768px) {
	.fourth-block {
		&__body-flex {
			margin: 40px 0 80px 0;
		}
	}
}

.fourth-block__swiper {
	display: none;
}

@media (max-width: 767px) {
	.fourth-block__body-flex {
		display: none;
	}
	.fourth-block {
		&__swiper {
			display: block;
		}
		&__swiper {
			margin-bottom: 60px;
		}
		&__slide {
			padding: 30px 0;
		}
	}
	.fourth-block__pagination .swiper-pagination-bullet {
		background: #3d3d50;
		margin-right: 20px !important;
	}
}

//==========FIFTH-BLOCK==============//

.page {
	&__fifth-block {
	}
}

.fifth-block {
	&__container-background {
		background: #eee0da;
		border-radius: 20px;
	}

	&__sub-container {
	}

	&__body {
		padding: 120px 0;
		margin-bottom: 200px;
	}

	&__title {
		margin-bottom: 80px;
	}

	&__body-grid {
	}

	&__grid-header {
		display: grid;
		grid-template-columns: repeat(3, minmax(auto, 360px));
		grid-template-rows: repeat(1, minmax(auto, 505px));
		justify-content: center;
		column-gap: 100px;
	}

	&__grid-footer {
		display: grid;
		grid-template-columns: repeat(3, minmax(auto, 360px));
		grid-template-rows: repeat(2, minmax(auto, 505px));
		justify-content: center;
		column-gap: 100px;
		row-gap: 80px;
	}

	&__grid-card {
		&_opacity {
			opacity: 0;
		}
	}

	&__grid-image {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 20px;
		}
	}

	hr {
		max-width: 1280px;
		height: 0px;
		opacity: 0.2;
		border: 2px solid #3d3d50;
		margin: 80px 0;
	}

	&__title-h5 {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 600;
		font-size: 30px;
		line-height: 140%;
		color: #3d3d50;
		margin: 30px 0 10px 0;
	}

	&__sub-title-h6 {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 150%;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #ee786b;
	}
	&__swiper {
		display: none;
	}
}

@media (max-width: 1360px) {
	.fifth-block {
		&__grid-header {
			column-gap: 20px;
		}
		&__grid-footer {
			column-gap: 20px;
			row-gap: 40px;
		}
		hr {
			margin: 40px 0;
		}
	}
}

@media (max-width: 768px) {
	.fifth-block {
		&__body {
			padding: 30px 0;
			margin-bottom: 80px;
		}
	}
}

@media (max-width: 767px) {
	.fifth-block {
		&__title {
			text-align: center;
			margin: 0;
		}
		&__body-grid {
			display: none;
		}
		&__swiper {
			display: block;
			margin-bottom: 60px;
		}
		&__slide {
			padding: 30px 0;
		}
		&__grid-image {
			position: relative;
			height: 356px;
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 20px;
			}
		}
	}
	.fifth-block__pagination .swiper-pagination-bullet {
		background: #3d3d50;
		margin-right: 20px !important;
	}
}

//=============SIXTH-BLOCK============//

.page {
	// .page__sixth-block

	&__sixth-block {
	}
}
.sixth-block {
	// .sixth-block__container

	&__container {
	}

	// .sixth-block__sub-container

	&__sub-container {
	}

	// .sixth-block__body

	&__body {
		margin-bottom: 200px;
	}

	// .sixth-block__header

	&__header {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .sixth-block__title

	&__title {
	}

	// .sixth-block__image

	&__image {
		position: relative;
		max-width: 600px;
		width: 100%;
		min-height: 600px;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0%;
			left: 0%;
			object-fit: contain;
		}
	}

	// .sixth-block__body-grid

	&__body-grid {
		display: grid;
		grid-template-columns: repeat(3, minmax(auto, 360px));
		grid-template-rows: repeat(2, 1fr);
		column-gap: 100px;
		row-gap: 80px;
	}

	// .sixth-block__column-grid

	// .sixth-block__number

	&__box-number {
		position: relative;
		overflow: hidden;
		margin-bottom: 30px;
	}

	&__number {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80px;
		height: 80px;
		background: #ee786b;
		border-radius: 80px;
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 600;
		font-size: 30px;
		line-height: 140%;
		color: #ffffff;
		overflow: hidden;
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: 100px;
			width: 100%;
			opacity: 0.2;
			border: 2px solid #6f6f82;
		}
	}
	.grid-column-video {
		grid-column: span 2;
	}

	&__video-block {
		display: flex;
		justify-content: space-evenly;
		align-items: start;
	}

	// .sixth-block__title-h5

	&__title-h5 {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 600;
		font-size: 30px;
		line-height: 140%;
		color: #3d3d50;
		margin-bottom: 10px;
	}

	// .sixth-block__text

	&__text {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 500;
		font-size: 17px;
		line-height: 150%;
		color: #3d3d50;
		margin-bottom: 30px;
	}

	// .sixth-block__button

	&__button {
		display: inline-block;
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 500;
		font-size: 17px;
		line-height: 150%;
		color: #3d3d50;
		padding: 15px 20px;
		border: 1px solid rgba(61, 61, 80, 0.4);
		border-radius: 50px;
		position: relative;
		&_load {
			padding: 15px 20px 15px 54px;
			&::before {
				content: url(../img/download-02.svg);
				display: block;
				transform: translate(-50%, 50%);
				position: absolute;
				top: 0;
				left: 25%;
			}
		}
	}

	// .sixth-block__video

	&__video {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
		border-radius: 20px;
	}
}

@media (max-width: 1024px) {
	.sixth-block {
		&__body-grid {
			column-gap: 50px;
			row-gap: 40px;
		}
		&__title-text {
			margin-right: 50px;
		}
	}
}
@media (max-width: 768px) {
	.sixth-block {
		&__body {
			margin-bottom: 80px;
		}
		&__number {
			width: 60px;
			height: 60px;
			font-size: 20px;
		}
		&__title-h5 {
			font-size: 20px;
		}
		&__text {
			font-size: 15px;
		}
	}
}
@media (max-width: 767px) {
	.sixth-block {
		&__body-grid {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(5, minmax(auto, 1fr));
			column-gap: 0;
		}
		&__video-block {
			flex-direction: column;
		}
		&__number {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 60px;
			height: 60px;
			background: #ee786b;
			border-radius: 80px;
			font-family: "Gilroy";
			font-style: normal;
			font-weight: 600;
			font-size: 30px;
			line-height: 140%;
			color: #ffffff;
			&::after {
				content: "";
				display: inline-block;
				position: absolute;
				top: 20%;
				left: 50%;
				width: 100%;
				opacity: 0.2;
				border: 2px solid #6f6f82;
				transform: rotate(90deg) translateY(100%);
			}
		}
		&__column-grid {
			display: flex;
			align-items: baseline;
			&:nth-child(1) {
				grid-row: 1 / 1;
			}
			&:nth-child(2) {
				grid-row: 2 / 2;
			}
			&:nth-child(3) {
				grid-row: 3 / 3;
			}
			&:nth-child(4) {
				grid-row: 4 / 4;
			}
			&:nth-child(5) {
				grid-row: 5 / 5;
			}
		}
		&__box-number {
			margin-right: 20px;
		}
	}
}
@media (max-width: 600px) {
	.sixth-block {
		&__header {
			flex-direction: column;
		}
		&__box-number {
			width: 50px;
			margin: 0;
		}
		&__column-bottom {
			margin: 0 0 0 20px;
		}
		&__number {
			width: 50px;
			height: 50px;
			font-size: 20px;
		}
		&__title-h5 {
			font-size: 20px;
		}
		&__text {
			font-size: 14px;
		}
	}
}

//===========SEVENTH-BLOCK==========//

.page {
	// .page__seventh-block

	&__seventh-block {
		margin-bottom: 200px;
	}
}
.seventh-block {
	// .seventh-block__container

	&__container-background {
		overflow: hidden;
		background: #d2eaf0;
		border-radius: 20px;
	}

	// .seventh-block__sub-container

	&__sub-container {
	}

	// .seventh-block__body

	&__body {
		padding: 120px 0;
	}

	// .seventh-block__title

	&__title {
		text-align: center;
		position: relative;
		z-index: 100;
		margin-bottom: 80px;
	}

	// .seventh-block__header

	&__header {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 10;
		gap: 100px;
		&::after {
			content: "";
			width: 1080px;
			height: 1080px;
			position: absolute;
			top: -80%;
			left: 58%;
			background: #89cbdb;
			border-radius: 50%;
			z-index: -5;
		}
	}

	// .seventh-block__column

	&__column {
		flex: 0 1 60%;
	}

	// .seventh-block__title-h3

	&__title-h3 {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 600;
		font-size: 50px;
		line-height: 120%;
		color: #3d3d50;
	}

	// .seventh-block__sub-title

	&__sub-title {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 600;
		font-size: 30px;
		line-height: 140%;
		color: #3d3d50;
		margin: 20px 0 40px 0;
	}

	// .seventh-block__list

	&__list {
	}

	// .seventh-block__item

	&__item {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 500;
		font-size: 17px;
		line-height: 150%;
		color: #3d3d50;
		margin-bottom: 10px;
		position: relative;
		margin-left: 20px;
		&::before {
			content: "";
			position: absolute;
			top: 10%;
			left: -25px;
			display: inline-block;
			width: 14px;
			height: 14px;
			background: #89cbdb;
			transform: matrix(1, 0, -0.21, 0.98, 0, 0);
		}
	}

	// .seventh-block__image

	&__image {
	}

	// .seventh-block__footer

	&__footer {
		display: flex;
		justify-content: center;
		align-items: start;
		gap: 100px;
		margin-top: 80px;
		position: relative;
		z-index: 10;
		&::before {
			content: "";
			width: 850px;
			height: 850px;
			position: absolute;
			top: 0%;
			left: -33%;
			background: #89cbdb;
			border-radius: 50%;
			z-index: -5;
		}
	}
}

@media (max-width: 1280px) {
	.seventh-block {
		&__header {
			justify-content: start;
			gap: 20px;
		}
		&__image-top {
			img {
				position: absolute;
				top: 0;
				left: 30%;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
		&__footer {
			justify-content: end;
			align-items: center;
			gap: 20px;
			padding: 60px 0;
			&::before {
				content: "";
				width: 450px;
				height: 450px;
				position: absolute;
				top: 0%;
				left: -23%;
				background: #89cbdb;
				border-radius: 50%;
				z-index: -5;
			}
		}
		&__image-bottom {
			img {
				position: absolute;
				top: 0;
				right: 30%;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
}
@media (max-width: 992px) {
	.seventh-block {
		&__body {
			padding: 30px 0;
		}
		&__header {
			justify-content: start;
			gap: 20px;
			&::after {
				content: "";
				width: 500px;
				height: 500px;
				position: absolute;
				top: -20%;
				left: 58%;
				background: #89cbdb;
				border-radius: 50%;
				z-index: -5;
			}
		}
		&__image-top {
			img {
				position: absolute;
				top: 0;
				left: 50%;
				width: 70%;
				height: 70%;
				object-fit: contain;
			}
		}
		&__footer {
			justify-content: end;
			align-items: center;
			gap: 20px;
			margin-top: 40px;
			&::before {
				content: "";
				width: 450px;
				height: 450px;
				position: absolute;
				top: 0%;
				left: -33%;
				background: #89cbdb;
				border-radius: 50%;
				z-index: -5;
			}
		}
		&__image-bottom {
			img {
				position: absolute;
				top: 5%;
				right: 60%;
				width: 70%;
				height: 70%;
				object-fit: contain;
			}
		}
		&__title-h3 {
			font-size: 35px;
		}
		&__sub-title {
			font-size: 20px;
		}
		&__item {
			font-size: 15px;
		}
	}
}

@media (max-width: 690px) {
	.seventh-block {
		&__header {
			flex-direction: column-reverse;
			&::after {
				content: "";
				width: 500px;
				height: 500px;
				position: absolute;
				top: -30%;
				left: 48%;
				background: #89cbdb;
				border-radius: 50%;
				z-index: -5;
			}
		}
		&__image-top {
			img {
				position: relative;
				top: 0;
				left: 0%;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
		&__footer {
			flex-direction: column;
			&::before {
				content: "";
				width: 450px;
				height: 450px;
				position: absolute;
				top: 0%;
				left: -43%;
				background: #89cbdb;
				border-radius: 50%;
				z-index: -5;
			}
		}
		&__image-bottom {
			img {
				position: relative;
				top: 5%;
				right: 0%;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
		&__title-h3 {
			font-size: 28px;
		}
		&__item {
			font-size: 14px;
		}
	}
}
@media (max-width: 375px) {
	.seventh-block {
		&__container {
			padding: 0;
		}
		&__container-background {
			border-radius: 0;
		}
	}
}

//=============EIGHTH-BLOCK=============//

.page {
	// .page__eighth-block

	&__eighth-block {
	}
}
.eighth-block {
	// .eighth-block__container

	&__container {
	}

	// .eighth-block__sub-container

	&__sub-container {
	}

	// .eighth-block__body

	&__body {
		margin-bottom: 200px;
	}

	// .eighth-block__header

	&__header {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .eighth-block__title

	&__title {
	}

	// .eighth-block__image

	&__image {
		position: relative;
		width: 600px;
		height: 600px;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0%;
			left: 0%;
			object-fit: cover;
		}
	}

	// .eighth-block__body-grid

	&__body-grid {
		display: grid;
		grid-template-columns: repeat(4, minmax(auto, 290px));
		grid-template-rows: 1fr;
		column-gap: 40px;
	}

	// .eighth-block__column-grid

	&__column-grid {
	}

	// .eighth-block__box-number

	&__box-number {
		position: relative;
		overflow: hidden;
		margin-bottom: 30px;
	}

	// .eighth-block__number

	&__number {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80px;
		height: 80px;
		background: #89cbdb;
		border-radius: 80px;
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 600;
		font-size: 30px;
		line-height: 140%;
		color: #ffffff;
		overflow: hidden;
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: 100px;
			width: 100%;
			opacity: 0.2;
			border: 2px solid #6f6f82;
		}
	}

	// .eighth-block__title-h5

	&__title-h5 {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 600;
		font-size: 30px;
		line-height: 140%;
		color: #3d3d50;
		margin-bottom: 10px;
	}

	// .eighth-block__text

	&__text {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 500;
		font-size: 17px;
		line-height: 150%;
		color: #3d3d50;
		margin-bottom: 30px;
	}
}

@media (max-width: 1120px) {
	.eighth-block {
		&__body-grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 1fr;
			row-gap: 40px;
		}
	}
}
@media (max-width: 767px) {
	.eighth-block {
		&__header {
			flex-direction: column;
			text-align: center;
		}
		&__title {
			br {
				display: none;
			}
		}
		&__body-grid {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(4, 1fr);
			row-gap: 40px;
		}
		&__column-grid {
			display: flex;
			justify-content: start;
			align-items: baseline;
		}
		&__column-grid-bottom {
			margin-left: 20px;
		}
		&__image {
			width: 350px;
			height: 350px;
		}
	}
}

//=============FORM-BLOCK============//

.page {
	// .page__form-block

	&__form-block {
	}
}
.form-block {
	// .form-block__container

	&__container-background {
		background: #ee786b;
		border-radius: 20px;
	}

	// .form-block__sub-container

	&__sub-container {
	}

	// .form-block__body

	&__body {
		padding: 120px 0;
		margin-bottom: 200px;
	}

	// .form-block__title

	&__title {
		text-align: center;
	}

	// .form-block__form-top

	&__form-top {
		padding: 80px 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 30px;
	}

	// .form-block__name

	&__name {
		grid-column: span 2;
		padding: 15px 23px;
		border: 1px solid #dfe1ee;
		border-radius: 50px;
		background: #ffffff;
		input {
			width: 100%;
			font-family: "Gilroy";
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 150%;
			color: #6f6f82;
			opacity: 0.5;
		}
	}

	// .form-block__phone

	&__phone {
		padding: 15px 23px;
		border: 1px solid #dfe1ee;
		border-radius: 50px;
		background: #ffffff;
		input {
			width: 100%;
			font-family: "Gilroy";
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 150%;
			color: #6f6f82;
			opacity: 0.5;
		}
	}

	// .form-block__mail

	&__mail {
		padding: 15px 23px;
		border: 1px solid #dfe1ee;
		border-radius: 50px;
		background: #ffffff;
		input {
			width: 100%;
			font-family: "Gilroy";
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 150%;
			color: #6f6f82;
			opacity: 0.5;
		}
	}

	// .form-block__block-links

	&__block-links {
	}

	// .form-block__block-link

	&__block-link {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
		margin-bottom: 80px;
		&_pink {
			background: #eee0da;
			border-radius: 20px;
			padding: 40px;
		}
		&_green {
			background: #d2eaf0;
			border-radius: 20px;
			padding: 40px;
		}
	}

	// .form-block__column

	&__column {
		flex: 0 0 50%;
		max-width: 585px;
	}

	// .form-block__title-h5

	&__title-h5 {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 600;
		font-size: 25px;
		line-height: 140%;
		color: #3d3d50;
	}

	// .form-block__title-h6

	&__title-h6 {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 500;
		font-size: 17px;
		line-height: 150%;
		color: #3d3d50;
		margin: 10px 0;
	}

	// .form-block__button

	&__button {
		display: inline-block;
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 500;
		font-size: 17px;
		line-height: 150%;
		color: #3d3d50;
		padding: 15px 20px;
		border: 1px solid rgba(61, 61, 80, 0.4);
		border-radius: 50px;
		position: relative;
		&_load {
			padding: 15px 20px 15px 54px;
			&::before {
				content: url(../img/download-02.svg);
				display: block;
				transform: translate(-50%, 50%);
				position: absolute;
				top: 0;
				left: 25%;
			}
		}
	}

	// .form-block__input-link

	&__input-link {
		padding: 15px 23px;
		border: 1px solid #dfe1ee;
		border-radius: 50px;
		background: #ffffff;
		margin-top: 30px;
		input {
			width: 100%;
			font-family: "Gilroy";
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 150%;
			color: #6f6f82;
			opacity: 0.5;
		}
	}

	// .form-block__image

	&__image {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .form-block__submit

	&__submit {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 20px;
	}

	// .form-block__button-submit

	&__button-submit {
		background: #3d3d50;
		border: 1px solid rgba(61, 61, 80, 0.4);
		border-radius: 50px;
		padding: 15px 23px;
		max-width: 625px;
		width: 100%;
		text-align: center;
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 150%;
		color: #ffffff;
	}

	// .form-block__text-h6

	&__text-h6 {
		text-align: center;
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 120%;
		color: #dfe1ee;
	}
}

@media (max-width: 767px) {
	.form-block {
		&__form-top {
			display: flex;
			flex-direction: column;
		}
		&__block-link {
			flex-direction: column-reverse;
		}
	}
}
@media (max-width: 768px) {
	.form-block {
		&__body {
			padding: 30px 0;
		}
		&__block-link {
			margin-bottom: 30px;
		}
		&__body-accordion {
			margin-bottom: 80px;
		}
		&__form-top {
			padding: 30px 0;
		}
	}
}
@media (max-width: 375px) {
	.form-block {
		&__container {
			padding: 0;
		}
		&__container-background {
			border-radius: 0;
		}
	}
}

//============TENTH-BLOCK============//

.page {
	// .page__tenth-block

	&__tenth-block {
	}
}
.tenth-block {
	// .tenth-block__container

	&__container {
	}

	// .tenth-block__sub-container

	&__sub-container {
	}

	// .tenth-block__body

	&__body {
	}

	// .tenth-block__title

	&__title {
		margin-bottom: 60px;
	}

	// .tenth-block__body-accordion

	&__body-accordion {
		margin-bottom: 200px;
	}
}

.accordion-body {
	// .accordion-body__accordion

	&__accordion {
		background: #f9f9fa;
		border-radius: 20px;
		padding: 30px 40px;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	// .accordion-body__accordion-label

	&__accordion-label {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 600;
		font-size: 30px;
		line-height: 140%;
		color: #3d3d50;
		position: relative;
		cursor: pointer;
		&::before {
			content: url(../img/angle.png);
			position: absolute;
			top: 50%;
			right: -25px;
			font-size: 30px;
			transform: translateY(-50%);
			transition: all 0.3s ease-in-out;
		}
	}
	&__accordion-label.active::before {
		content: url(../img/angle.png);
		font-size: 30px;
		transform: rotate(180deg);
	}

	// .accordion-body__accordion-content

	&__accordion-content {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 500;
		font-size: 17px;
		line-height: 150%;
		color: #6f6f82;
		margin-top: 30px;
		position: relative;
		overflow: hidden;
		transition: 0.5s ease-in-out;
		height: 0;
	}
	&__accordion-content.active {
		height: 100px;
	}
}

@media (max-width: 1440px) {
	.accordion-body {
		&__accordion-label {
			font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1600 - 320)));
		}
		&__accordion-content {
			font-size: calc(14px + (17 - 14) * ((100vw - 320px) / (1600 - 320)));
		}
	}
}
@media (max-width: 585px) {
	.tenth-block {
		&__accordion-label {
			font-family: "Gilroy";
			font-style: normal;
			font-weight: 600;
			font-size: 30px;
			line-height: 140%;
			color: #3d3d50;
			position: relative;
			cursor: pointer;
			&::before {
				content: url(../img/angle.png);
				position: absolute;
				top: 50%;
				right: -85px;
				font-size: 30px;
				transform: translateY(-50%);
			}
		}
	}
}

//===========FOOTER==============//

.footer {
	// .footer__container

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #3d3d50;

		&::before {
			content: url(../img/footer-png01.png);
			margin-top: 54px;
		}
		&::after {
			content: url(../img/footer-png02.png);
			margin-top: 64px;
		}
	}

	// .footer__body

	&__body {
		padding: 60px 0;
		max-width: 1400px;
		width: 100%;
	}

	&__body-logo-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 36px;
	}

	// .footer__logo

	&__logo {
		position: relative;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .footer__menu

	&__menu {
		display: flex;
		align-items: center;
	}

	// .footer__list

	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .footer__item

	&__item {
		&:not(:last-child) {
			margin-right: 30px;
		}
	}

	// .footer__link

	&__link {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 150%;
		color: #ffffff;
	}

	// .footer__bottom

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 120%;
		color: #6f6f82;
	}

	// .footer__rigths

	&__rigths {
	}

	// .footer__bottom-block

	&__bottom-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .footer__list-rules

	&__list-rules {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 20px;
	}

	// .footer__item-ruules

	&__item-rules {
		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	&__link-rules {
		color: #6f6f82;
	}

	// .footer__list-social

	&__list-social {
		display: flex;
		align-items: center;
	}

	// .footer__item-social

	&__item-social {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: #6f6f82;
		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	// .footer__link-social

	&__link-social {
		color: #3d3d50;
	}
}

@media (max-width: 1360px) {
	.footer {
		&__logo {
			margin-bottom: 30px;
		}
		&__body-logo-nav {
			flex-direction: column;
			align-items: start;
		}
		&__list {
			flex-wrap: wrap;
			justify-content: start;
		}
		&__item {
			margin-bottom: 30px;
		}
		&__content {
			padding: 41px 34px;
			&::before {
				display: none;
			}
			position: relative;
			&::after {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 40%;
				left: 80%;
				object-fit: cover;
			}
		}
		&__bottom-block {
			flex-direction: column-reverse;
			align-items: start;
		}
		&__list-rules {
			margin: 20px 0;
		}
		&__bottom {
			flex-direction: column-reverse;
			align-items: start;
		}
	}
}

@media (max-width: 768px) {
	.footer {
		&__link-rules {
			font-size: 16px;
		}
	}
}

@media (max-width: 767px) {
	.footer {
		&__list {
			flex-direction: column;
			align-items: start;
			flex-wrap: nowrap;
		}
		&__item {
			margin-bottom: 16px;
		}
		&__list-rules {
			flex-direction: column;
			align-items: start;
			margin: 24px 0;
		}
		&__item-rules {
			&:not(:last-child) {
				margin: 0 0 16px 0;
			}
		}
		&__content {
			position: relative;
			&::after {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 70%;
				left: 62%;
				object-fit: cover;
			}
		}
	}
}
